@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    padding: 0;
    margin: 0;
}

.titleBar{
    border: 10em red;
}

.centered-table thead tr{
    text-align: center;
}

.dot {
    height: 6px;
    width: 6px;
    background-color: rgb(0,0,255);
    border-radius: 50%;
    display: inline-block;
  }